.header .active {
  font-weight: bold; }

.image-box {
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0; }
  .image-box img, .image-box video {
    height: 200px;
    width: 200px; }
  .image-box video {
    background-color: black;
    vertical-align: middle; }
  .image-box img {
    transition: all 0.5s; }
  .image-box .icon {
    font-size: 7em;
    position: absolute;
    z-index: 100;
    left: 50px;
    top: 50px;
    color: rgba(238, 238, 238, 0.5); }
  .image-box .popup {
    background-color: rgba(238, 238, 238, 0.8);
    position: absolute;
    font-size: 1.5rem;
    line-height: 1.5rem;
    bottom: -3.4rem;
    left: 0;
    z-index: 200;
    text-align: left;
    width: 200px; }
    .image-box .popup p {
      margin: 0 0 0.2rem 5px; }

.center-media {
  display: block;
  margin: 0 auto; }

.header-center {
  text-align: center; }

.margin-0 {
  margin-left: 0px; }

.margin-1 {
  margin-left: 50px; }

.margin-2 {
  margin-left: 100px; }

.margin-3 {
  margin-left: 150px; }

.margin-4 {
  margin-left: 200px; }

.margin-5 {
  margin-left: 250px; }

.margin-6 {
  margin-left: 300px; }

.margin-7 {
  margin-left: 350px; }

.margin-8 {
  margin-left: 400px; }

.margin-9 {
  margin-left: 450px; }

.margin-10 {
  margin-left: 500px; }

.black {
  color: black; }

.grouping:before, .grouping:after {
  content: "";
  display: table; }

.grouping:after {
  clear: both; }

.topic {
  text-align: center; }

.image-box {
  animation: fadein .7s ease-out; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
