.header .active {
  font-weight: bold; }

.image-box {
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0; }
  .image-box img, .image-box video {
    height: 200px;
    width: 200px; }
  .image-box video {
    background-color: black;
    vertical-align: middle; }
  .image-box img {
    transition: all 0.5s; }
  .image-box .icon {
    font-size: 7em;
    position: absolute;
    z-index: 100;
    left: 50px;
    top: 50px;
    color: rgba(238, 238, 238, 0.5); }
  .image-box .popup {
    background-color: rgba(238, 238, 238, 0.8);
    position: absolute;
    font-size: 1.5rem;
    line-height: 1.5rem;
    bottom: -3.4rem;
    left: 0;
    z-index: 200;
    text-align: left;
    width: 200px; }
    .image-box .popup p {
      margin: 0 0 0.2rem 5px; }

.center-media {
  display: block;
  margin: 0 auto; }

.black {
  color: black; }

.grouping:before, .grouping:after {
  content: "";
  display: table; }

.grouping:after {
  clear: both; }

.topic {
  text-align: center; }
